<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<Head th:replace="fragments :: page_head('Users - Shopme Admin')"/> 
<body>
		<div class="container-fluid">
			<div th:replace="navigation :: menu"></div >
			<div><p class="h3 text-center"> Categories Management</p ></div >
			<div>
				<a th:href="@{/categories/new}">Create new category</a > ||
				<a href="">Export to Excel</a > ||
				<a href="">Export to Excel</a > ||
				<a href="">Export to PDF</a >
			</div>
			
			<div class="alert alert-success text-center" th:if="${message != null}">[[${message}]]</div >
			
			<div class="mt-3">
				<form class="form-inline">
					Filter:&nbsp;<input type="search" name="keyword" class="form-control"> &nbsp;&nbsp;
					<input type="submit" class="btn btn-primary" value="Search">&nbsp;&nbsp;
					<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
				</form >
			</div >
			
			<div class="mt-3">
				<table class="table table-bordered table-hover table-striper table-striped">
					<thead class="thead-dark text-white">
						<th>ID</th>
						<th>Category Image</th>
						<th>Category Name</th>
						<th>Alias</th>
						<th>Enabled</th>
						<th>Edit</th>
						<th>Delete</th>
					</thead >
					<tbody>
						<tr th:each="category : ${categories}">
							<td>[[${category.id}]]</td>
							<td>
								
							</td>
							<td>[[${category.name}]]</td>
							<td>[[${category.alias}]]</td>
							<td>[[${category.enabled}]]</td>
							<td>
								<a href="" class="fas fa-user-edit fa-2x icon-green"></a >
							</td>
							<td>
								<a href="" class="fas fa-trash-alt fa-2x icon-dark link-delete"></a >
							</td>
						</tr >
					</tbody>
				</table >
			</div >
			
		<div>
			<nav>
				<ul class="pagination justify-content-center">
					<li>
						<a class="page-link">First</a  >
					</li>
					
					<li>
						<a class="page-link">Previous</a >
					</li>
					
					<li>
						<a class="page-link"></a >
					</li>
					
					<li>
						<a class="page-link">Next</a >
					</li>
					
					<li>
						<a class="page-link">Last</a >
					</li>
				</ul >
			</nav>
		</div >			
			
			<div th:replace="fragments :: footer"></div>
</body>

</html>